/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

  @charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round'), local('VarelaRound-Regular'), url(http://themes.googleusercontent.com/static/fonts/varelaround/v3/APH4jr0uSos5wiut5cpjrqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
  background-color: #C0C0C0;
  color: #000;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  -webkit-appearance: none;
}

/* ---------- LOGIN ---------- */

#logout, #login {
  margin: 50px auto;
  width: 400px;
}

#logout h2 {
  background-color: #f95252;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  color: #fff;
  font-size: 28px;
  padding: 20px 26px;
  font-weight: bold;
  text-align: center;
}

#message, h2 ul {
  background-color: #f95252;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  color: #fff;
  font-size: 28px;
  padding: 20px 26px;
  font-weight: bold;
  text-align: center;
}

#login h2 {
  background-color: #f95252;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 28px;
  padding: 20px 26px;
}

#login h2 span[class*="fontawesome-"] {
  margin-right: 14px;
}

#login fieldset {
  background-color: #fff;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  padding: 20px 26px;
}

#login fieldset p {
  color: #777;
  margin-bottom: 14px;
}

#login fieldset p:last-child {
  margin-bottom: 0;
}

#login fieldset input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#login fieldset input[type="email"], #login fieldset input[type="password"], #login fieldset input[type="text"] {
  background-color: #eee;
  color: #777;
  padding: 4px 10px;
  width: 328px;
}

#login fieldset input[type="submit"] {
  background-color: #33cc77;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 4px 0;
  width: 100px;
}

#alt-button {
  background-color: #33cc77;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 4px 0;
  width: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}

#alt-button:hover {
  background-color: #28ad63;
}

#login fieldset input[type="submit"]:hover {
  background-color: #28ad63;
}

#navbar {
  background-color: #f95252;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  color: #fff;
  font-size: 28px;
  padding: 20px 26px;
}

#navbar li {
  display: inline;
}

#settings-menu {
  position: absolute;
  top: 4%;
  right: 5%;
}

#greeting {
  position: absolute;
  top: 0.2%;
  right: 5%;
  font-size: 0.5em;
}

.user-cards {
  background-color: #f95252;
  width: 200px;
  border-radius: 20px;
  margin: 10px;
  display: inline-block;
  padding: 10px;
  text-align: center;
  color: white;
} 

.user-cards h1{
  font-weight: bold;
} 

.profile-card {
  background-color: #f95252;
  width: 200px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  color: white;
}

.card-image {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.window {
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 50px;
  width: 90%;
  background-color: #f95252;
}

#chat {
  height: 250px;
}